#BasedOnStyle: Google
Standard: Cpp03
UseTab: Always
TabWidth: 4
IndentWidth: 4
ContinuationIndentWidth: 4
IndentCaseLabels: true
IndentPPDirectives: AfterHash
IndentAccessModifiers: true
AllowShortEnumsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: true
AlignOperands: false
# AlignTrailingComments: Always # wrong version
BreakBeforeBraces: Attach
PenaltyBreakBeforeFirstCallParameter: 1000
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyExcessCharacter: 0
PenaltyReturnTypeOnItsOwnLine: 1000
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left
AccessModifierOffset: 0
# RemoveParentheses: ReturnStatement # wrong version
SpaceBeforeParens: ControlStatementsExceptControlMacros
EmptyLineBeforeAccessModifier: Always
EmptyLineAfterAccessModifier: Never
# InsertNewlineAtEOF: true # wrong version
BinPackParameters: false
BinPackArguments: false
PackConstructorInitializers: Never
ColumnLimit: 0
BreakConstructorInitializers: BeforeComma
#BreakAfterReturnType: Automatic
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: '^<.*\.h>'        # System headers
    Priority: 1
  - Regex: '^"[^/].*"'       # Project headers
    Priority: 2
  - Regex: '.*'              # Other headers (optional)
    Priority: 3
# Optional: Add blank lines between different include categories
IncludeIsMainRegex: '$'
BraceWrapping:
  AfterStruct: false
  AfterUnion: false
  AfterClass: false
  AfterControlStatement: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  SplitEmptyRecord: false
  IndentBraces: true
  SplitEmptyNamespace: false
InsertTrailingCommas: Wrapped
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
AllowShortFunctionsOnASingleLine: All
NamespaceIndentation: All
#RemoveEmptyLinesInUnwrappedLines: true # only in v20
#SpacesBeforeAssignmentOperators: true
# KeepEmptyLines:
#   AtEndOfFile: false
#   AtStartOfBlock: false
#   AtStartOfFile: false
MaxEmptyLinesToKeep: 5
AlignTrailingComments: true
SpacesInContainerLiterals: false
#SpacesInCStyleParentheses: false
#SpacesInEmptyPartentheses: false
SpacesInSquareBrackets: false
Cpp11BracedListStyle: true